CONFIG_ARM=y
CONFIG_ARCH_RZN1L=y
CONFIG_TARGET_RENESAS_RZN1L_DB=y
CONFIG_HUSH_PARSER=y
CONFIG_BOOTDELAY=1

CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_NS16550=y
CONFIG_DEBUG_UART_BASE=0x40060000
CONFIG_DEBUG_UART_CLOCK=20000000
CONFIG_DEBUG_UART_SHIFT=2

# CONFIG_EFI_LOADER is not set

# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_CONSOLE is not set
# CONFIG_CMD_DM is not set
# CONFIG_CMD_EDITENV is not set
# CONFIG_CMD_CACHE is not set
CONFIG_CMD_TIMER=y
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_CMD_MEMTEST is not set

CONFIG_DEFAULT_DEVICE_TREE="rzn1l-db"
# CONFIG_DISPLAY_CPUINFO is not set

########## USBF/DFU ##########
CONFIG_USB=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_DOWNLOAD=y
CONFIG_G_DNL_MANUFACTURER="Renesas Electronics"
CONFIG_G_DNL_VENDOR_NUM=0x045b
CONFIG_G_DNL_PRODUCT_NUM=0x0239
CONFIG_DFU_SF=y
# CONFIG_DFU_NAND is not set
CONFIG_DFU_RAM=y
CONFIG_CMD_DFU=y
CONFIG_CMD_DFU_EXT=y

########## I2C ##########
CONFIG_CMD_I2C=y

########## SF ##########
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_BAR=y
CONFIG_SPI_FLASH_MACRONIX=y
# CONFIG_SPI_FLASH_USE_4K_SECTORS is not set

########## ETH ##########
CONFIG_ETH_DESIGNWARE=y
CONFIG_NETDEVICES=y
CONFIG_NET=y
CONFIG_CMD_MII=y
CONFIG_CMD_PING=y
# CONFIG_CMD_NFS is not set

################################# SPL ##########################################
# CONFIG_SPL is not set
