if ARCH_RZN1

config RZN1D
	bool
	default y

config RZN1S
	bool

choice
	prompt "RZN1 board select"
	optional

config TARGET_RENESAS_RZN1D400_DB
	bool "Renesas rzn1d400-db"
	select SUPPORT_SPL

config TARGET_RENESAS_RZN1S324_DB
	bool "Renesas rzn1s324-db"
	select SUPPORT_SPL

config TARGET_RENESAS_RZN1S_IO_LINK
	bool "Renesas rzn1s-io-link"
	select SUPPORT_SPL

config TARGET_RENESAS_RZN1L_DB
	bool "Renesas rzn1l-db"

endchoice

config SYS_SOC
	default "rzn1"

source "board/renesas/rzn1d400-db/Kconfig"
source "board/renesas/rzn1s324-db/Kconfig"
source "board/renesas/rzn1s-io-link/Kconfig"
source "board/renesas/rzn1l-db/Kconfig"

endif
